.head
  .head__left
    = link_to "Tooling Partner", root_path, class: "head_left"
  .head__center
    .head__center__input
      search
    .head__center__btn
      検索
  .head__right
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      = link_to "ログイン", new_user_session_path, class: 'post'
