.main
  .main__left
    .main__left__notice
      .main__left__notice__title
        お知らせ
      .main__left__notice__content
        %table
          %tr
            %td
              2020.05.XX
            %td
              ツーリング情報交換掲示板を始めました！！
          %tr
            %td
              2020.05.XX
            %td
              1 投稿はメンバー登録から！！
          %tr
            %td
              2020.05.XX
            %td
              2 投稿はメンバー登録から！！
          %tr
            %td
              2020.05.XX
            %td
              3 投稿はメンバー登録から！！
          %tr
            %td
              2020.05.XX
            %td
              4 投稿はメンバー登録から！！
          %tr
            %td
              2020.05.XX
            %td
              5 投稿はメンバー登録から！！
          %tr
            %td
              2020.05.XX
            %td
              6 投稿はメンバー登録から！！
    .main__left__newinfo
      .main__left__newinfo__title
        新着情報
      .main__left__newinfo__content
        %table
          %tr
            %td
              2020.05.XX
            %td
              Tooling Partner活動スタート！！
          %tr
            %td
              2020.05.XX
            %td
              個人ブログをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              1 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              2 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              3 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              4 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              5 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              1 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              2 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              3 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              4 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              5 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              1 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              2 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              3 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              4 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              5 おすすめルートをアップしました！
          %tr
            %td
              2020.05.XX
            %td
              1 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              2 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              3 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              4 おすすめルートをアップしました！ 
          %tr
            %td
              2020.05.XX
            %td
              5 おすすめルートをアップしました！
  .main__right
    関連広告スライド