// チャット表示画面

.chats {
  background-color: #fafafa;
  height: calc(100vh - 246px);
  overflow: scroll;
  .chat {
    margin: 10px 0 10px 20px;
    .upper-chat {
      &__user-name {
        font-size: 16px;
        color: #333333;
      }
      &__date {
        font-size: 12px;
        color: #999999;
        padding-left: 5px;
      }
    }
    .lower-chat {
      &__content {
        font-size: 14px;
        color: #434A54;
        padding-bottom: 11px;
      }
      &__image {

      }
    }
  }
}




// 投稿フォーム
.chat--form {
  height: 80px;
  bottom: 0px;
  .form__chat {
    width: 75%;
    line-height: 25px;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 15px 0 15px 15px;
    display: inline-block;
  }
  .form__mask {
    display: inline-block;
    margin-left: 12px;
    font-size: 25px;
    .form__mask__image {
      cursor: pointer;
      .hidden {
        display: none;
      }

    }
  }
  .form__submit {
    border-radius: 6px;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
    display: block;
    float: right;
    margin: 15px;
  }
}