.form__post {
  .form__post__title {
    display: block;
    margin: 20px auto;
    width: 75%;
    height: 40px;
    padding-left: 6px;
    border-radius: 5px;
  }
  .form__post__text {
    padding: 6px;
    display: block;
    margin: 20px auto;
    width: 90%;
    padding-left: 6px;
    border-radius: 5px;
    height: 325px;
    resize: vertical;
    word-break: break-all;
  }
  .form__post__btns {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    .form__mask {
      display: inline-block;
      margin: 0;
      font-size: 30px;
      .form__mask__image {
        cursor: pointer;
        .hidden {
          display: none;
        }
        .image--post {
          font-size: 15px;
          width: 121px;
        }
      }
    }
    .form__post__btn {
      cursor: pointer;
      border-radius: 6px;
      padding: 12px 20px;
      color: #fff;
      background-color: #38aef0;
      border: 0;
      display: block;
      margin: 15px auto;
      &:hover {
        background-color: #FF9900;
      }
    }
  }
}


.select__boxes {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.category__boxes {
  display: inline-block;
  margin: 0 5px 15px 5px;
  .category__about {
  }
  .field__category {
    
    .field__header {
      font-size: 14px;
      .required {
        color: red;
        font-size: 13px;
        padding-left: 5px;
      }
    }
    .field__input {
      width: 230px;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      .category__inner {
        cursor: pointer;
        width: 230px;
        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #999;
        background: #eee;
        background: right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
        background: right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
        background-size: 20px, 100%;
      }
    }
  }
}


.prefecture__boxes {
  display: inline-block;
  margin: 0 5px 15px 5px;
  left: 380px;
  .field__prefecture {
    .field__header {
      font-size: 14px;
      .required {
        color: red;
        font-size: 13px;
        padding-left: 5px;
      }
    }
    .field__input {
      width: 230px;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      .category__inner {
        cursor: pointer;
        width: 230px;
        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #999;
        background: #eee;
        background: right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
        background: right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
        background-size: 20px, 100%;
      }
    }
  }
}


.field__input#children__select {
  width: 230px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  #child_category {
    cursor: pointer;
    width: 230px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: #eee;
    background: right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
    background: right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
    background-size: 20px, 100%;
  }
}

.field__input#grandchildren__select {
  width: 230px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  #grandchild_category {
    cursor: pointer;
    width: 230px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: #eee;
    background: right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
    background: right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
    background-size: 20px, 100%;
  }
}