* {
  box-sizing: border-box;
}


// サイドバー
.side {
  z-index: 99;
  background-color: black;
  width: 250px;
  height: 100vh;
  left: 0;
  .side__head {
    background-color: #20b2aa	;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    width: 250px;
    .side__head__box {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      .side__head__box__name {
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        width: 80%;
        word-wrap: normal;
      }
      .side__head__box__menu {
        width: 60px;
        height: 30px;
        line-height: 30px;
        display: flex;
        justify-content: flex-end;
        
        .side__head__box__menu__icon {
          color: #ffffff;
          cursor: pointer;
          position: fixed;
        }
        .side__head__box__menu__inner {
          left: 235px;
          position: fixed;
          width: 120px;
          display: none; 
          border-radius: 3px;
          padding: 5px 0;
          background-color: wheat;
          .side__head__box__menu__inner__content {
            &:hover {
              color: #000;
              background-color: #aaa;
              cursor: pointer;
            }
            padding-left: 5px;
          }
        }
        .side__head__box__menu__inner {display: none;}
      }
    }
  }
  .side__menu {
    background-color: coral;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 100px 0;
    .side__menu__content {
      &:hover {
        color: #000;
        background-color: #aaa;
        cursor: pointer;
      }
      color: #555;
      display: inline-block;
      width: 250px;
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      margin: 3px 0;
    }
  }
}



// ヘッダー
.head {
  z-index: -1;
  background-color: #2f3e51;
  width: calc(100vw - 250px);
  height: 100px;
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // タイトル
  .head__left {
    color: #fff;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 
      0 0 0.05em #F06292,
      0 0 0.10em #F06292,
      0 0 0.15em #F06292,
      0 0 0.30em #F06292;
  	filter: saturate(80%);
    letter-spacing: 2px;
    padding-left: 30px;
    width: 40%;
  }
  // 検索の窓
  .head__center {
    width: 500px;
    height: 35px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .head__center__input {
      height: 35px;
      width: 100%;
      color: gray;
      line-height: 35px;
      padding-left: 10px;
      border: lightgray solid 1px;
      border-radius: 0 2.5px 2.5px 0;
    }
    .head__center__btn {
      width: 70px;
      height: 35px;
      background-color: #38aef0;
      right: 0;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
      border: lightgray solid 1px;
      border-radius: 0 2.5px 2.5px 0;
    }
  }
  // アイコンスペース
  .head__right {
    width: 100px;
    height: 40px;
    background-color: red;
    margin-right: 30px;
    line-height: 40px;
    text-align: center;
  }
}


// メイン画面
td {
  padding: 2px 5px 2px 15px;
}

.main__left__newinfo__content tr {
  color: blue;
  display: block;
  &:hover {
    display: inline-block;
    background-color: skyblue;
    cursor: pointer;
    border-bottom: solid 1px gray;
  }
}


.main {
  z-index: -2;
  background-color: #fff8dc	;
  position: fixed;
  width: calc(100vw - 250px);
  height: calc(100% - 100px);
  top: 100px;
  left: 250px;
  display: flex;
  .main__left {
    width: 80%;
    overflow: scroll;
    .main__left__notice {
      background-color: lightgray;
      height: 200px;
      padding: 10px 10px 10px 40px;
      .main__left__notice__title {
        color: red;
        font-size: 21px;
        width: 80%;
        border-bottom: 1px solid gray;
      }
      .main__left__notice__content {
        padding-top: 10px;
        height: 86%;
        width: 80%;
        color: green;
        overflow: scroll;
        border-bottom: 1px solid gray;
      }
    }
    .main__left__newinfo {
      background-color: lightcyan;
      height: 450px;
      padding: 10px 10px 10px 40px;
      .main__left__newinfo__title {
        color: purple;
        font-size: 21px;
        width: 80%;
        border-bottom: 1px solid gray;
      }
      .main__left__newinfo__content {
        color: blue;
        padding-top: 10px;
        height: 88%;
        width: 80%;
        overflow: scroll;
        border-bottom: 1px solid gray;
      }
    }
  }
  .main__right {
    background-color: #f0ebeb;
    height: 100vh;
    width: 20%;
  }
}