.qanda--history {
  margin-top: 120px;
  position: fixed;
  min-width: 190px;
  .history--title {
    background-color: #b7ecdb;
    font-size: 18px;
    padding-left: 8px;
    border-bottom: #000 double;
    letter-spacing: 1px;
    border-radius: 7px 7px 0 0;
  }
  .history--boxes {
    height: 477px;
    overflow: scroll;
    .history__list {
      .qanda--history__room {
        background-color: #fff;
        padding: 5px 10px 5px 10px;
        display: grid;
        color: #000;
        border: 1px #dedede solid;
        &:hover {
          color: #000;
          background-color: #dedede;
        }
        &-name {
          font-size: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-date {
          font-size: 10px;
          color: #aaa;
        }
        &-message {
          padding-left: 15px;
          font-size: 13px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
