.qanda--history
  .history--title
    あなたの相談履歴
  .history--boxes
    %ul
      - if user_signed_in?
        - current_user.rooms.each do |room|
          .history__list
            %li
            = link_to "#", class: "qanda--history__room" do
              %span.qanda--history__room-name
                Q : #{room.name}
              %span.qanda--history__room-message
                今日ツーリングへ行くのですが、天気予報ではどうやら
                -# = group.show_last_message