.wrapper
  = render "tops/side_bar"
  = render "tops/head-bar"
  .main
    .main__left
      .main__head
        .main--title
          相談室新規作成ページ
      .qanda__rooms
        = render partial: 'form', locals: { room: @room }
    .main__right
      = render "qanda_history"