.side
  -# サイドバーヘッダー部分
  .side__head
    .side__head__box
      .side__head__box__name
        sample name
        -# = current_user.name
      .side__head__box__menu
        = link_to "#", class: "side__head__box__menu__icon" do
          = icon("far", "edit")
        = link_to "#", class: "side__head__box__menu__icon" do
          = icon("fas", "cog")