.side
  -# サイドバーヘッダー部分
  .side__head
    .side__head__box
      .side__head__box__name
        123456 789 0123456789
        -# = current_user.name
      .side__head__box__menu
        = link_to "#", class: "side__head__box__menu__icon fa-2x" do
          = icon("fa", "bars")
  
  -# サイドバーメニュー
  .side__menu
    - @contents.each do |c|
      .side__menu__content
        = c
