.wrapper
  = render "tops/side_bar"
  = render "tops/head-bar"
  .main
    .main__left
      .main__head
        .main--title
          


      .qanda__rooms
        サイドバーに孫の一覧
        メイン画面に子の一覧
        メイン画面に孫の一覧

    .main__right
      = render "rooms/qanda_history"